*{
    margin: 0;
    padding: 0;
}
.container{
    display:flex;
    height: 100vh;

}
.main_container {
    flex-grow: 1;
  
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 260px;
    height: 100vh;    
}

.side-bar{
    background-color:#22180F;
    width: 260px;
    height: 100vh;
    position: fixed;

}
.profile-pic{
    border-radius: 50%;
    border-width: 10px;
    width: 200px;
    height: 250px;
    margin-left: 20px;
    border: 5px solid #555; 
}
.name{
    color: rgb(239, 235, 235);
    margin-left: 20px;
}
.icons{
    display: flex;
    margin-top: 30px;
    margin-left: 4%;
    margin-right: 20%;
    gap: 10px;
   
   

}
.icons i{
    font-size: 40px;
    color: rgb(255, 255, 255);
 
}
.icons :hover{
    color: rgb(2, 2, 2);
}
.main_about{
    background-image: url('/Assignment_1/Assets/2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.main_page_text{
     width: 600px;
    margin-left:20px ;
    font-size: 20px;
    color: aliceblue;
    padding-top: 40%;


    

}
section{
    height: 100vh;

}
.About{
    color: #22180F;
    margin-left: 20px;
    margin-top: 20px;
    font-size: xx-large;

}
.div_1_in_about_section
{
    object-fit: cover;
    padding: 2px;
    height: 400px;
    width: 400px;
    display: flex;
    margin: 20px;

    
}
   

.div_2_in_about_section{
    height: 400px;
    width: 400px;
    flex-grow: 1;
    padding: 0px;


}
.adout_container{
    display: flex; 
    align-items:center; 

}
.list_about{
    font-size: large;
    margin: 20px;
}
ul li ::before{
    
    content: ">";
}
ul{
    list-style: none;
}