<section class="About_section" id="About_me">
    <h1 class="About">
      About
    </h1>
    <br>
    <p style="font-size: large;
    margin-left: 20px;">
      Highly motivated technology student seeking an internship opportunity to
      leverage my technical skills and contribute to real-world projects. Eager to
      learn from experienced professionals and gain practical experience in building
      and applying digitalsystems.
    </p>
    <div class="adout_container">
      <div class="div_1_in_about_section">
        <img src="/images/main_pic.jpeg" alt="profile-pic" height="400px" width="400px">
      </div>
      <div class="div_2_in_about_section">
        <h1 style="font-size: x-large;">
          AI/ML Student & Web Developer
        </h1>
        <p style="font-size: medium;">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam blanditiis, delectus quos eveniet soluta
          at nihil reiciendis. Enim laborum omnis non ex natus possimus iure maxime, neque, harum tenetur
          voluptatum?
        </p>
        <div style="display: flex;">
          <div>
            <ul class="list_about">
              <li style="margin-bottom: 30px;">
                <b> Birthday:</b> 11-12-2003
              </li>
              <li style="margin-bottom: 30px;">
                <b> Website:</b> www.google.com
              </li>
              <li style="margin-bottom: 30px;">
                <b> Phone:</b> 0302-6266933
              </li>
              <li style="margin-bottom: 30px;">
                <b> City:</b> Gujranwala
              </li>
            </ul>
          </div>
          <div>
            <ul class="list_about">
              <li style="margin-bottom: 30px;">
                <b>Age:</b> 21
              </li>
              <li style="margin-bottom: 30px;">
                <b>Degree:</b> BS-AI
              </li>
              <li style="margin-bottom: 30px;">
                <b>Email:</b> ahmedhaseeb93338@gmail.com
              </li>
              <li style="margin-bottom: 30px;">
                <b>Freelance:</b> Available
              </li>

          </div>
        </div>
        <p style="font-size: medium;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, placeat distinctio quis vitae rem suscipit
          laborum dolor consequatur veritatis asperiores accusamus saepe, expedita reprehenderit. Consectetur fugit
          inventore doloremque amet expedita. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab commodi
          laborum itaque, nesciunt repellendus cumque maiores totam incidunt ad iure quod reiciendis voluptatibus
          doloremque tempore exercitationem culpa vero explicabo? Quos.
        </p>
      </div>
    </div>
  </section>