
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Cv</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  
</head>
<body>
  <div class="container">
    <aside class="side-bar">
      <div class="img-container">
        <img src="/images/profile_pic.jpg" alt="profile-pic" class="profile-pic">
      </div>
      <h1 class="name">Ahmed Haseeb Butt</h1>
      <div class="icons">

        <i class="fa-brands fa-github fa-2xl"></i>
        <i class="fa-brands fa-instagram fa-2xl"></i>
        <i class="fa-brands fa-linkedin-in fa-2xl"></i>
        <i class="fa-solid fa-envelope fa-2xl"></i>
        <i class="fa-brands fa-facebook-messenger fa-2xl"></i>
      </div>
      <div
        style="display: flex;  gap: 35px; margin-top: 80px; justify-content: center;flex-direction: column; align-items: start; margin-left: 30px; font-size: xx-large; color: rgb(255, 255, 255); ">
        <a href="/about"><b>About</b></a>
        <a href="/"><b>Education</b></a>
        <a href="/"><b>Experience</b></a>
        <a href="skills"><b>Skills</b></a>
        <a href="/projects"><b>Projects</b></a>
        <a href="/"><b>Services</b></a>
        <a href="/"><b>Contact</b></a>
      </div>
    </aside>
    <main class="main_container">
    <%- body %>

</main>
  </div>

</body>

</html>

