<section class="main_about">
    <div class="main_page_text">
      <h1 class>
        <b>Ahmed Haseeb Butt</b>
      </h1>
      <p style="margin-top: 10px;">
        Highly motivated technology student seeking an internship opportunity to
        leverage my technical skills and contribute to real-world projects. Eager to
        learn from experienced professionals and gain practical experience in building
        and applying digitalsystems.
      </p>
    </div>
  </section>