<section class="Projects" style="margin-top: 40px;">
    <h1 class="About">Portfolio</h1>
    <p style="padding-left: 20px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, et dolore. Totam
      ab distinctio quisquam error,
      at, minima sint iste ad expedita excepturi saepe molestiae dignissimos nihil odio sed voluptatum!</p>
    <div class="project_buttons">
      <button class="Buttons">
        All
      </button>
      <button class="Buttons">
        AI/ML
      </button>
      <button class="Buttons">
        Web Apps
      </button>
      <button class="Buttons">
        Mobile Apps
      </button>
    </div>
    <div style=" display: flex; flex-wrap: wrap; gap: 20px; padding: 20px;">

      <div class="project_card">
        <img src="/images/ai.jpeg" alt="" class="project_pic">
        <p class="projects_name_text">Product Recmendation system</p>

      </div>
      <div class="project_card">
        <img src="/images/web.png" alt="" class="project_pic">
        <p class="projects_name_text">TO do app</p>
      </div>
      <div class="project_card">
        <img src="/images/pythonn.png" alt="" class="project_pic">
        <p class="projects_name_text">Mystery Castel Game</p>
      </div>
      <div class="project_card">
        <img src="/images/App.jpeg" alt="" class="project_pic">
        <p class="projects_name_text">Booking App</p>
      </div>
      <div class="project_card">
        <img src="/images/ai.jpeg" alt="" class="project_pic">
        <p>Computation Nural Network</p>
      </div>
      <div class="project_card">
        <img src="/images/web.png" alt="" class="project_pic">
        <p class="projects_name_text">Currecy Exchange App do app</p>
      </div>
      <div class="project_card">
        <img src="/images/pythonn.png" alt="" class="project_pic">
        <p class="projects_name_text">Machine Learning Modeles</p>
      </div>
      <div class="project_card">
        <img src="/images/App.jpeg" alt="" class="project_pic">
        <p class="projects_name_text">My notes App</p>
      </div>
    </div>
</div>
</section>
