<section class="Resume" >
    <h1 class="About">
      Resume
    </h1>
    <p style="margin: 25px; padding: 10px; font-size: large;">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis, esse soluta sit repellendus distinctio
      consequatur sequi debitis deserunt delectus mollitia quas vero autem, dolores tempora provident, beatae
      architecto perspiciatis inventore!
    </p>


    <div style=" display: flex; justify-content: space-evenly; align-items: center; ">

      <div style=" flex-grow: 1;">
        <h1 class="About">Education</h1>
        <div style="margin: 20px;">
          <h4 style="margin-bottom: 20px;">Matriculation</h4>
          <b style="padding: 20px;">2018-2020</b>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus maiores iste quod autem</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus maiores iste quod autem</li>
          </ul>
        </div>
        <div style="margin: 20px; gap: 20px;">
          <h4 style="margin-bottom: 20px;">Matriculation</h4>
          <b style="padding: 20px;">2018-2020</b>
          <ul style="gap: 10px; margin: 10px;">
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus maiores iste quod autem</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus maiores iste quod autem</li>
        </div>
        <div style="margin: 20px;">
          <h4 style="margin-bottom: 20px;">Matriculation</h4>
          <b style="padding: 20px;">2018-2020</b>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus maiores iste quod autem</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus maiores iste quod autem</li>
        </div>


      </div>
      <div style=" flex-grow: 1;">
        <h1 class="About">Experience</h1>
        <div style="margin: 20px;">
          <h4 style="margin-bottom: 20px;">Matriculation</h4>
          <b style="padding: 20px;">2018-2020</b>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus maiores iste quod autem</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus maiores iste quod autem</li>
          </ul>
        </div>
        <div style="margin: 20px;">
          <h4 style="margin-bottom: 20px;">Matriculation</h4>
          <b style="padding: 20px;">2018-2020</b>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus maiores iste quod autem</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus maiores iste quod autem</li>
          </ul>
        </div>
        <div style="margin: 20px;">
          <h4 style="margin-bottom: 20px;">Matriculation</h4>
          <b style="padding: 20px;">2018-2020</b>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus maiores iste quod autem</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus maiores iste quod autem</li>
          </ul>
        </div>
      </div>


    </div>
  </section>