<section class="skills" style="background-color: beige; height: 700px;">
    <div class="skills_text">
      <h1 class="About"> Skills</h1>
    </div>
    <br>
    <p style="margin: 25px; padding: 10px; font-size: large;">Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Temporibus, consectetur vel! Eius, minus laboriosam
      id eligendi nulla molestiae ab neque, illum rem, voluptates voluptatem modi eos nobis. Quod, perferendis
      ratione.</p>
    <div style="display: flex; margin: 20px; padding: 20px; flex-flow:row;">
      <div style="flex-grow: 1;">
        <h1>Web Dev</h1>
        <ul class="list_about">
          <li>HTML</li>
          <li>JavaScript</li>
          <li>Css</li>
          <li>Mongodb</li>
          <li>Python</li>
          <li>NodeJs</li>
          <li>ExpressJs</li>
          <li>Java</li>

        </ul>
      </div>
      <div style="flex-grow: 1;">
        <h1>Ml/AI</h1>
        <ul class="list_about">
          <li>Python</li>
          <li>Numpy</li>
          <li>Pandas</li>
          <li>SK-learn</li>
          <li>Matplotlib</li>
          <li>Pytorch</li>
          <li>TensorFlow</li>

        </ul>
      </div>
      <div style="flex-grow: 1;">
        <h1>Mobile Dev</h1>
        <ul class="list_about">
          <li>Java</li>
          <li>XML</li>
          <li>Kotlin</li>
          <li>Firebase</li>
          <li>Android Studio</li>
          <li>C++</li>

        </ul>
      </div>
      <div style="flex-grow: 1;">
        <h1>Others</h1>
        <ul class="list_about">
          <li>Effective Communication</li>
          <li>Presetation</li>
          <li>Management</li>
          <li>LeaderShip</li>

        </ul>
      </div>

    </div>

  </section>