<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karenmillen</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/media.css">
   
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/javascripts/script.js"></script>
<body>
    <div class="NavBar">
        <div class="Company_name_icons">

            <h1 class="Main_name">
                KAREN MILLEN
            </h1>
            <div class="icons">
                <div> <i class="bi bi-search"></i></div>
                <div> <i class="bi bi-globe"></i></div>
                <div class="Profile_logo_div"><i class="bi bi-person-circle"></i>
                    <div class="login-dropdown">
                        <p class="dropdown-title">LOGIN / REGISTER</p>
                        <a href="#" class="dropdown-link">LOG IN</a>
                        <a href="#" class="dropdown-link">REGISTER</a>
                    </div>
                </div>
                <div><i class="bi bi-heart"></i></div>
                <div><i class="bi bi-bag-dash"></i></div>

            </div>
        </div>

    </div>
    <div class="nav_categories">
        <div class="category"><a href="#" class="Words">SALES</a>
            <div class="dropdown">
                <div class="Sales_dropdown_menu">
                    <div id="dropdrown_dive1_sales" class="slaes_dropdown_mennu_divs">
                        <p><b>40% off occasion wear*</b></p>
                        <hr style="border: none; height: 1px; background-color: rgb(65, 64, 64); margin: 10px 0;">
                        <p><b>App exclusive | extra 15% off everything*</b></p>
                        <p><b>Klarna, Clearpay & PayPal available</b></p>
                        <p><b>Karen Millen PREMIER members receive free next-day delivery for a year now only
                                £14.99</b></p>
                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3>SALE</h3>
                        <hr style="border: none; height: 1px; background-color: rgb(65, 64, 64); margin: 10px 0;">

                        <a href="checkout.html">All Sale</a>
                        <a href="#">New To Sale</a>
                        <a href="#">Sale Bestsellers</a>
                        <a href="#"><b>Sale Dresses</b></a>
                        <a href="#"><b>Sale Occasion Wear</b></a>
                        <a href="#"><b>Sale Occasion Wear Dresses</b></a>
                        <a href="#"><b>Sale Coats & Jackets</b></a>
                        <a href="#">Sale Knitwear</a>
                        <a href="#"><b>Sale Tops</b></a>
                        <a href="#">Sale Trousers</a>
                        <a href="#">Sale Skirts</a>
                        <a href="#"><b>Sale Swimwear</b></a>
                        <a href="#">Sale Jumpsuits & Playsuits</a>
                        <a href="#"><b>Sale Workwear</b></a>
                        <a href="#">Sale Accessories</a>
                        <a href="#"><b>Sale Beachwear</b></a>
                        <a href="#">Sale Shorts</a>

                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3>SALE BY SIZE</h3>
                        <hr style="border: none; height: 1px; background-color: rgb(65, 64, 64); margin: 10px 0;">

                        <a href="#">Size 6</a>
                        <a href="#">Size 8</a>
                        <a href="#">Size 10</a>
                        <a href="#">Size 12</a>
                        <a href="#">Size 14</a>
                        <a href="#">Size 16</a>
                        <a href="#">Size 18</a>
                        <a href="#">Size 20</a>
                        <a href="#">Size 22</a>
                        <a href="#">Size 24</a>

                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3>SALE BY FIT</h3>
                        <hr style="border: none; height: 1px; background-color: rgb(65, 64, 64); margin: 10px 0;">

                        <a href="#">Sale Plus Size</a>
                        <a href="#">Sale Petite</a>
                        <a href="#">Sale Tall</a>

                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3>SHOP BY PRICE RANGE</h3>
                        <hr style="border: none; height: 1px; background-color: rgb(65, 64, 64); margin: 10px 0;">

                        <a href="#">Dresses from £40</a>
                        <a href="#">Coats & Jackets from £50</a>
                        <a href="#">Tops from £35</a>
                        <a href="#">Knitwear from £35</a>
                        <a href="#">Trousers from £50</a>
                        <a href="#">Skirts from £40</a>
                        <a href="#">Occasion Wear from £39</a>
                        <a href="#">Jumpsuits & Playsuits from £80</a>
                        <a href="#">Workwear from £39</a>
                        <a href="#">Accessories from £25</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="category"><a href="#" class="Words">DRESSES</a>
            <div class="dropdown">
                <div class="Sales_dropdown_menu">
                    <div id="dropdrown_dive1_sales" class="slaes_dropdown_mennu_divs">
                        <p><b>40% off occasion wear*</b></p>
                        <hr style="border: none; height: 1px; background-color: rgb(65, 64, 64); margin: 10px 0;">
                        <p><b>App exclusive | extra 15% off everything*</b></p>
                        <p><b>Klarna, Clearpay & PayPal available</b></p>
                        <p><b>Karen Millen PREMIER members receive free next-day delivery for a year now only
                                £14.99</b></p>

                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3>DRESSES</h3>
                        <hr>
                        <a href="#">All Dresses</a>
                        <a href="#">Best Selling Dresses</a>
                        <a href="#">New in Dresses</a>
                        <a href="#">Forever Dresses</a>
                        <a href="#"><b>Maxi Dresses</b></a>
                        <a href="#">Midi Dresses</a>
                        <a href="#">Mini Dresses</a>
                        <a href="#">Leather Dresses</a>
                        <a href="#">Print Dresses</a>
                        <a href="#"><b>Floral Dresses</b></a>
                        <a href="#">Modest Dresses</a>
                        <a href="#">Satin Dresses</a>
                        <a href="#">Shirt Dresses</a>
                        <a href="#">Denim Dresses</a>
                        <a href="#">Bodycon Dresses</a>
                        <a href="#">Bandeau Dresses</a>
                        <a href="#">Pencil Dresses</a>
                        <a href="#">Belted Dresses</a>
                        <a href="#">Wrap Dresses</a>
                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3>TRENDING NOW</h3>
                        <hr>
                        <a href="#">White Dresses - NEW</a>
                        <a href="#">Pink Dresses - NEW</a>
                        <a href="#"><b>Black Dresses</b></a>
                        <a href="#">Wedding Guest Dresses</a>
                        <a href="#">Occasion Dresses</a>
                        <a href="#">Spring Dresses</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="category"><a href="/products" class="Words">NEW IN</a>
            <div class="dropdown">
                <div class="Sales_dropdown_menu">
                    <div id="dropdrown_dive1_sales" class="slaes_dropdown_mennu_divs">
                        <p><b>40% off occasion wear*</b></p>
                        <hr style="border: none; height: 1px; background-color: rgb(65, 64, 64); margin: 10px 0;">
                        <p><b>App exclusive | extra 15% off everything*</b></p>
                        <p><b>Klarna, Clearpay & PayPal available</b></p>
                        <p><b>Karen Millen PREMIER members receive free next-day delivery for a year now only
                                £14.99</b></p>

                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3>NEW IN</h3>
                        <hr>
                        <a href="#">New In</a>
                        <a href="#">New In Clothing</a>
                        <a href="#">Bestsellers</a>
                        <a href="#">Last Chance To Buy</a>
                        <a href="#">Back In Stock</a>
                        <a href="#">New In Dresses</a>
                        <a href="#"><b>New In Jackets</b></a>
                        <a href="#"><b>New In Coats</b></a>
                        <a href="#">New In Knitwear</a>
                        <a href="#">New In Trousers</a>
                        <a href="#">New In Tops</a>
                        <a href="#">New In Skirts</a>
                        <a href="#">New In Shoes</a>
                        <a href="#">New In Accessories</a>
                        <a href="#">New In Plus Size</a>
                        <a href="#">New In Petite</a>
                        <a href="#">New In Tall</a>
                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3>NEW IN COLLECTIONS</h3>
                        <hr>
                        <a href="#"><b>Spring</b></a>
                        <a href="#">Eid Outfits</a>
                        <a href="#">Eid Gifts</a>
                        <a href="#">Modest Clothing - NEW</a>
                        <a href="#"><b>Swimwear</b></a>
                        <a href="#">Leather</a>
                        <a href="#"><b>Luxe Essentials</b></a>
                        <a href="#">Weekend Edit</a>
                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3>TRENDING NOW</h3>
                        <hr>
                        <a href="#">Occasion Wear</a>
                        <a href="#">The Denim Edit</a>
                        <a href="#">Florals</a>
                        <a href="#">Neutrals</a>
                        <a href="#">Tulle</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="category"><a href="#" class="Words">CLOTHING</a>
            <div class="dropdown">
                <div class="Sales_dropdown_menu">
                    <div id="dropdrown_dive1_sales" class="slaes_dropdown_mennu_divs">
                        <p><b>40% off occasion wear*</b></p>
                        <hr style="border: none; height: 1px; background-color: rgb(65, 64, 64); margin: 10px 0;">
                        <p><b>App exclusive | extra 15% off everything*</b></p>
                        <p><b>Klarna, Clearpay & PayPal available</b></p>
                        <p><b>Karen Millen PREMIER members receive free next-day delivery for a year now only
                                £14.99</b></p>

                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3><b>CLOTHING</b></h3>
                        <hr>
                        <a href="#">All Clothing</a>
                        <a href="#">Bestsellers</a>
                        <a href="#">Dresses</a>
                        <a href="#"><b>Coats & Jackets</b></a>
                        <a href="#">Knitwear</a>
                        <a href="#">Tops</a>
                        <a href="#">Shirts</a>
                        <a href="#">Trousers</a>
                        <a href="#">Skirts</a>
                        <a href="#"><b>Swimwear</b></a>
                        <a href="#">Beachwear</a>
                        <a href="#">Leather</a>
                        <a href="#">Tailoring</a>
                        <a href="#">Co-Ords</a>
                        <a href="#">Suits</a>
                        <a href="#">Denim</a>
                        <a href="#">Jeans</a>
                        <a href="#"><b>Jumpsuits</b></a>
                        <a href="#">Shorts</a>
                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3><b>SHOP BY FIT</b></h3>
                        <hr>
                        <a href="#">Plus Size</a>
                        <a href="#"><b>Petite</b></a>
                        <a href="#">Tall</a>
                    </div>

                    <div class="slaes_dropdown_mennu_divs">
                        <h3><b>COLLECTIONS</b></h3>
                        <hr>
                        <a href="#">Last Chance To Buy</a>
                        <a href="#">Weekend Edit</a>
                        <a href="#">Forever Pieces</a>
                        <a href="#">Modest Clothing</a>
                        <a href="#">Holiday</a>
                        <a href="#">By Lydia</a>
                        <a href="#">The Founder</a>
                        <a href="#">Brands</a>
                        <a href="#">Beauty Brands</a>
                        <a href="#">Pre-Loved</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="category"><a href="#" class="Words">COATS & JACKETS</a>
            <div class="dropdown">

                <div class="Sales_dropdown_menu">
                    <div id="dropdrown_dive1_sales" class="slaes_dropdown_mennu_divs">
                        <p><b>40% off occasion wear*</b></p>
                        <hr style="border: none; height: 1px; background-color: rgb(65, 64, 64); margin: 10px 0;">
                        <p><b>App exclusive | extra 15% off everything*</b></p>
                        <p><b>Klarna, Clearpay & PayPal available</b></p>
                        <p><b>Karen Millen PREMIER members receive free next-day delivery for a year now only
                                £14.99</b></p>

                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3><b>COATS & JACKETS</b></h3>
                        <hr>
                        <a href="#">All Coats & Jackets</a>
                        <a href="#">New In Coats</a>
                        <a href="#">New In Jackets</a>
                        <a href="#">Shearling Coats & Jackets</a>
                        <a href="#">Faux Fur Coats & Jackets</a>
                        <a href="#">Belted Coats & Jackets</a>
                        <a href="#">Winter Coats & Jackets</a>
                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3><b>COATS</b></h3>
                        <hr>
                        <a href="#">All Coats</a>
                        <a href="#"><b>Trench Coats</b></a>
                        <a href="#">Wool Coats</a>
                        <a href="#">Quilted Coats</a>
                        <a href="#">Faux Fur Coats</a>
                        <a href="#">Long Coats</a>
                        <a href="#">Tailored Coats</a>
                        <a href="#">Winter Coats</a>
                    </div>

                    <div class="slaes_dropdown_mennu_divs">
                        <h3><b>JACKETS</b></h3>
                        <hr>
                        <a href="#">All Jackets</a>
                        <a href="#"><b>Blazers</b></a>
                        <a href="#"><b>Bomber Jackets</b></a>
                        <a href="#">Tailored Jackets</a>
                        <a href="#">Waistcoats</a>
                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3><b>SHOP BY FIT</b></h3>
                        <hr>
                        <a href="#">Plus Size Coats & Jackets</a>
                        <a href="#">Petite Coats & Jackets</a>
                        <a href="#">Tall Coats & Jackets</a>

                        <h3><b>TRENDING NOW</b></h3>
                        <hr>
                        <a href="#">Leather Jackets</a>
                        <a href="#">Military Coats</a>
                        <a href="#">Camel Coats</a>
                        <a href="#">Black Coats</a>
                    </div>

                </div>

            </div>
        </div>
        <div class="category"><a href="#" class="Words">OCCASION WEAR</a>
            <div class="dropdown">
                <div class="Sales_dropdown_menu">
                    <div id="dropdrown_dive1_sales" class="slaes_dropdown_mennu_divs">
                        <p><b>40% off occasion wear*</b></p>
                        <hr style="border: none; height: 1px; background-color: rgb(65, 64, 64); margin: 10px 0;">
                        <p><b>App exclusive | extra 15% off everything*</b></p>
                        <p><b>Klarna, Clearpay & PayPal available</b></p>
                        <p><b>Karen Millen PREMIER members receive free next-day delivery for a year now only
                                £14.99</b></p>

                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3><b>OCCASIONWEAR</b></h3>
                        <hr>
                        <a href="#">All Occasion Wear</a>
                        <a href="#">Occasion Dresses</a>
                        <a href="#">Occasion Shoes</a>
                        <a href="#">Fascinators</a>
                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3><b>SHOP BY FIT</b></h3>
                        <hr>
                        <a href="#">Plus Size Occasion Wear</a>
                        <a href="#">Petite Occasion Wear</a>
                        <a href="#">Tall Occasion Wear</a>
                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3><b>OTHER OCCASIONS</b></h3>
                        <hr>
                        <a href="#">Eid Outfits</a>
                        <a href="#"><b>Prom Dresses</b></a>
                        <a href="#">Bridesmaids</a>
                        <a href="#">Race Day</a>
                        <a href="#">Bridal</a>
                        <a href="#">Partywear</a>
                        <a href="#">Desk to Dinner</a>
                        <a href="#">Cocktail Dresses</a>
                        <a href="#">Evening Dresses</a>
                        <a href="#">Going Out Outfits</a>
                        <a href="#">Birthday Dresses</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="category"><a href="#" class="Words">WEDDING</a>
            <div class="dropdown">
                <div class="Sales_dropdown_menu">
                    <div id="dropdrown_dive1_sales" class="slaes_dropdown_mennu_divs">
                        <p><b>40% off occasion wear*</b></p>
                        <hr style="border: none; height: 1px; background-color: rgb(65, 64, 64); margin: 10px 0;">
                        <p><b>App exclusive | extra 15% off everything*</b></p>
                        <p><b>Klarna, Clearpay & PayPal available</b></p>
                        <p><b>Karen Millen PREMIER members receive free next-day delivery for a year now only
                                £14.99</b></p>

                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3><b>WEDDING GUEST</b></h3>
                        <hr>
                        <a href="#">Wedding Guest Outfits</a>
                        <a href="#"><b>Wedding Guest Dresses</b></a>
                        <a href="#">Spring Wedding Guest Dresses</a>
                        <a href="#">Wedding Guest Jumpsuits</a>
                        <a href="#">Petite Wedding Guest Dresses</a>
                        <a href="#">Plus Size Wedding Guest Dresses</a>
                        <a href="#">Tall Wedding Guest Dresses</a>
                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3><b>MOTHER OF THE BRIDE</b></h3>
                        <hr>
                        <a href="#"><b>Mother of the Bride Dresses</b></a>
                        <a href="#">Mother of the Bride Jumpsuits</a>
                        <a href="#">Mother of the Bride & Groom Outfits</a>
                        <a href="#">Mother of the Bride Trouser Suits</a>
                        <a href="#">Petite Mother of the Bride</a>
                        <a href="#">Plus Size Mother of the Bride</a>
                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3><b>BRIDAL</b></h3>
                        <hr>
                        <a href="#">Bridesmaids</a>
                        <a href="#">Bridal</a>
                        <a href="#">Bridal Shower Dresses</a>
                        <a href="#">Engagement Party Dresses</a>
                        <a href="#">Hen Party Dresses</a>
                        <a href="#">Honeymoon Outfits</a>
                        <a href="#">Wedding Shoes for Brides</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="category"><a href="#" class="Words">WORK WEAR</a>
            <div class="dropdown">
                <div class="Sales_dropdown_menu">
                    <div id="dropdrown_dive1_sales" class="slaes_dropdown_mennu_divs">
                        <p><b>40% off occasion wear*</b></p>
                        <hr style="border: none; height: 1px; background-color: rgb(65, 64, 64); margin: 10px 0;">
                        <p><b>App exclusive | extra 15% off everything*</b></p>
                        <p><b>Klarna, Clearpay & PayPal available</b></p>
                        <p><b>Karen Millen PREMIER members receive free next-day delivery for a year now only
                                £14.99</b></p>

                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3><b>WORK</b></h3>
                        <hr>
                        <a href="#">All Workwear</a>
                        <a href="#">Forever Dresses</a>
                        <a href="#">Luxe Essentials</a>
                        <a href="#">Suits</a>
                        <a href="#">Teacher Outfits</a>
                        <a href="#">Work Dresses</a>
                        <a href="#">Work Skirts</a>
                        <a href="#"><b>Work Trousers</b></a>
                        <a href="#">Work Tops</a>
                        <a href="#">Work Blouses</a>
                        <a href="#">Tailoring</a>
                        <a href="#">Tailored Dresses</a>
                        <a href="#">Tailored Suits</a>
                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3><b>SHOP BY FIT</b></h3>
                        <hr>
                        <a href="#">Plus Size Workwear</a>
                        <a href="#">Petite Workwear</a>
                        <a href="#">Tall Workwear</a>
                    </div>


                </div>
            </div>
        </div>
        <div class="category"><a href="#" class="Words">SHOP BY FIT</a>
            <div class="dropdown">
                <div class="Sales_dropdown_menu">
                    <div id="dropdrown_dive1_sales" class="slaes_dropdown_mennu_divs">
                        <p><b>40% off occasion wear*</b></p>
                        <hr style="border: none; height: 1px; background-color: rgb(65, 64, 64); margin: 10px 0;">
                        <p><b>App exclusive | extra 15% off everything*</b></p>
                        <p><b>Klarna, Clearpay & PayPal available</b></p>
                        <p><b>Karen Millen PREMIER members receive free next-day delivery for a year now only
                                £14.99</b></p>

                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3><b>PLUS SIZE</b></h3>
                        <hr>
                        <a href="#">All Plus Size</a>
                        <a href="#">New In Plus Size</a>
                        <a href="#">Plus Size Dresses</a>
                        <a href="#">Plus Size Tops</a>
                        <a href="#">Plus Size Knitwear</a>
                        <a href="#">Plus Size Wedding Guest Dresses</a>
                        <a href="#">Plus Size Occasion</a>
                        <a href="#">Plus Size Coats & Jackets</a>
                        <a href="#">Plus Size Trousers</a>
                        <a href="#">Plus Size Workwear</a>
                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3><b>PETITE</b></h3>
                        <hr>
                        <a href="#">All Petite</a>
                        <a href="#">New In Petite</a>
                        <a href="#">Petite Dresses</a>
                        <a href="#">Petite Tops</a>
                        <a href="#">Petite Wedding Guest Dresses</a>
                        <a href="#">Petite Occasion</a>
                        <a href="#">Petite Trousers</a>
                        <a href="#">Petite Jumpsuits</a>
                        <a href="#">Petite Skirts</a>
                        <a href="#">Petite Workwear</a>
                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3><b>TALL</b></h3>
                        <hr>
                        <a href="#">All Tall</a>
                        <a href="#">New In Tall</a>
                        <a href="#">Tall Dresses</a>
                        <a href="#">Tall Midi Dresses</a>
                        <a href="#">Tall Tops</a>
                        <a href="#">Tall Skirts</a>
                        <a href="#">Tall Coats & Jackets</a>
                        <a href="#">Tall Trousers</a>
                        <a href="#">Tall Jumpsuits</a>
                    </div>


                </div>
            </div>
        </div>
        <div class="category"><a href="#" class="Words">SHOES & ACCESSORIES</a>
            <div class="dropdown">

                <div class="Sales_dropdown_menu">
                    <div id="dropdrown_dive1_sales" class="slaes_dropdown_mennu_divs">
                        <p><b>40% off occasion wear*</b></p>
                        <hr style="border: none; height: 1px; background-color: rgb(65, 64, 64); margin: 10px 0;">
                        <p><b>App exclusive | extra 15% off everything*</b></p>
                        <p><b>Klarna, Clearpay & PayPal available</b></p>
                        <p><b>Karen Millen PREMIER members receive free next-day delivery for a year now only
                                £14.99</b></p>

                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3><b>SHOES</b></h3>
                        <hr>
                        <a href="#">All Shoes</a>
                        <a href="#">Heels</a>
                        <a href="#">Flat Shoes</a>
                        <a href="#">Boots</a>
                        <a href="#">Knee High Boots</a>
                        <a href="#">Ankle Boots</a>
                        <a href="#">Shoes & Accessories Brands</a>
                        <a href="#">Pre-Loved Shoes</a>
                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3><b>ACCESSORIES</b></h3>
                        <hr>
                        <a href="#">All Accessories</a>
                        <a href="#">Bags & Purses</a>
                        <a href="#"><b>Jewellery</b></a>
                        <a href="#">Belts</a>
                        <a href="#">Fascinators</a>
                        <a href="#">Sunglasses</a>
                        <a href="#">Shapewear</a>
                        <a href="#">Pre-Loved Bags & Accessories</a>
                    </div>



                </div>
            </div>
        </div>
        <div class="category"><a href="#" class="Words">BEAUTY</a>
            <div class="dropdown">

                <div class="Sales_dropdown_menu">
                    <div id="dropdrown_dive1_sales" class="slaes_dropdown_mennu_divs">
                        <p><b>40% off occasion wear*</b></p>
                        <hr style="border: none; height: 1px; background-color: rgb(65, 64, 64); margin: 10px 0;">
                        <p><b>App exclusive | extra 15% off everything*</b></p>
                        <p><b>Klarna, Clearpay & PayPal available</b></p>
                        <p><b>Karen Millen PREMIER members receive free next-day delivery for a year now only
                                £14.99</b></p>

                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3><b>BEAUTY</b></h3>
                        <hr>
                        <a href="#">All Beauty</a>
                        <a href="#">All Makeup</a>
                        <a href="#">All Haircare</a>
                        <a href="#">All Skin</a>

                        <h3><b>BEAUTY BRANDS</b></h3>
                        <hr>
                        <a href="#">A-Z Beauty Brands</a>
                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3><b>MAKE UP</b></h3>
                        <hr>
                        <a href="#">All Makeup</a>
                        <a href="#">Eyes</a>
                        <a href="#">Brows</a>
                        <a href="#">Face</a>
                        <a href="#">Lips</a>
                        <a href="#">Lashes</a>
                        <a href="#">Makeup Tools & Accessories</a>
                        <a href="#">Nails</a>

                        <h3><b>HAIR CARE</b></h3>
                        <hr>
                        <a href="#">All Haircare</a>
                        <a href="#">Shampoo & Conditioner</a>
                        <a href="#">Styling Products</a>
                        <a href="#">Styling Tools</a>
                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3><b>SKIN & BODY CARE</b></h3>
                        <hr>
                        <a href="#">Skin</a>
                        <a href="#">Body</a>
                        <a href="#">Moisturisers</a>
                        <a href="#">SPF Skincare & Tanning</a>
                        <a href="#">Serums & Oils</a>
                        <a href="#">Cleansers</a>
                        <a href="#">Eye Creams</a>
                        <a href="#">Toners & Mists</a>
                        <a href="#">Masks, Exfoliators & Treatments</a>
                        <a href="#">Fragrance</a>
                        <a href="#">Gift Sets</a>
                    </div>


                </div>
            </div>
        </div>
        <div class="category"><a href="#" class="Words">BRANDS</a>
            <div class="dropdown">
                <div class="Sales_dropdown_menu">
                    <div id="dropdrown_dive1_sales" class="slaes_dropdown_mennu_divs">
                        <p><b>40% off occasion wear*</b></p>
                        <hr style="border: none; height: 1px; background-color: rgb(65, 64, 64); margin: 10px 0;">
                        <p><b>App exclusive | extra 15% off everything*</b></p>
                        <p><b>Klarna, Clearpay & PayPal available</b></p>
                        <p><b>Karen Millen PREMIER members receive free next-day delivery for a year now only
                                £14.99</b></p>

                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3><b>BRANDS</b></h3>
                        <hr>
                        <a href="#">All Brands</a>
                        <a href="#">A-Z Brands</a>
                        <a href="#">Clothing Brands</a>
                        <a href="#">Shoes & Accessories Brands</a>
                        <a href="#">Beauty Brands</a>
                    </div>
                    <div class="slaes_dropdown_mennu_divs">
                        <h3><b>PRE-LOVED</b></h3>
                        <hr>
                        <a href="#">All Pre-Loved</a>
                        <a href="#">Pre-Loved Clothing</a>
                        <a href="#">Pre-Loved Shoes</a>
                        <a href="#">Pre-Loved Bags & Accessories</a>
                    </div>



                </div>
            </div>
        </div>
    </div>




<%-body %>
<footer class="container-fluid m-5"></footer>
        <div class="row d-none d-lg-flex">
            <div class="col-md-2 ">
                <h3>Need Help?</h3>
                <ul class="foter_list_items">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Track My Order</a></li>
                    <li><a href="#">Start a Return</a></li>
                    <li><a href="#">Size Guide</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h3>Information</h3>
                <ul class="foter_list_items">
                    <li><a href="#">PREMIER - Unlimited Free Next Day Delivery</a></li>
                    <li><a href="#">T&Cs</a></li>
                    <li><a href="#">How we use your information - updated July 2023</a></li>
                    <li><a href="#">About Cookies</a></li>
                    <li><a href="#">Karen Millen Alterations</a></li>
                    <li><a href="#">Karen Millen Loyalty</a></li>
                    <li><a href="#">Refer A Friend</a></li>
                    <li><a href="#">Student Discount</a></li>
                    <li><a href="#">Key Workers Discount</a></li>
                    <li><a href="#">Clearpay</a></li>
                    <li><a href="#">Klarna</a></li>
                    <li><a href="#">PayPal</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h3>Discover More</h3>
                <ul class="foter_list_items">
                    <li><a href="#">About Karen Millen</a></li>
                    <li><a href="#">KM BRANDS</a></li>
                    <li><a href="#">Notebook</a></li>
                    <li><a href="#">Karen Millen Rental</a></li>
                    <li><a href="#">Thrift+</a></li>
                    <li><a href="#">Become an Affiliate</a></li>
                    <li><a href="#">Get Exclusive Offers & Updates</a></li>
                    <li><a href="#">Investor Relations</a></li>
                    <li><a href="#">Modern Slavery Statement</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h3>Get The App</h3>
                <ul class="foter_list_items">
                    <li><a href="#">Karen Millen App - find out more</a></li>
                    <img src="https://www.karenmillen.com/on/demandware.static/-/Library-Sites-karenmillen-global-content/default/dw04e8fa2f/images/footer-images/app-store.svg?fmt=webp"
                        alt="" style="display: block; margin-bottom: 10px;">
                    <img src="https://www.karenmillen.com/on/demandware.static/-/Library-Sites-karenmillen-global-content/default/dwa6f4edb2/images/footer-images/google-play.svg?fmt=webp"
                        alt="">
                </ul>
            </div>
            <div class="col-lg-2">
                <h3>Receive style tips, exclusive offers & more</h3>
                <div class="email-signup">
                    <input type="email" placeholder="Enter Email" class="email-input">
                    <button class="signup-button">SIGN UP</button>
                </div>
                <div class="Fotter_ions"
                    style="display: flex; justify-content: end; gap: 1px; width: 80%; margin-top: 30px;">
                    <i class="fa-brands fa-instagram fa-2xl"></i>
                    <i class="fa-brands fa-facebook-f fa-2xl"></i>
                    <i class="fa-brands fa-x-twitter fa-2xl"></i>
                    <i class="fa-brands fa-pinterest fa-2xl"></i>
                    <i class="fa-brands fa-youtube fa-2xl"></i>
                    <i class="fa-brands fa-tiktok fa-2xl"></i>
                </div>
            </div>
        </div>

        <div class="accordion d-lg-none " id="footerAccordion">

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#helpCollapse">
                        Need Help?
                    </button>
                </h2>
                <div id="helpCollapse" class="accordion-collapse collapse" data-bs-parent="#footerAccordion">
                    <div class="accordion-body">
                        <ul class="list-unstyled">
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Start a Return</a></li>
                            <li><a href="#">Size Guide</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#infoCollapse">
                        Information
                    </button>
                </h2>
                <div id="infoCollapse" class="accordion-collapse collapse" data-bs-parent="#footerAccordion">
                    <div class="accordion-body">
                        <ul class="list-unstyled">
                            <li><a href="#">PREMIER Delivery</a></li>
                            <li><a href="#">T&Cs</a></li>
                            <li><a href="#">Cookies Policy</a></li>
                            <li><a href="#">Privacy Notice</a></li>
                            <li><a href="#">Student Discount</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#discoverCollapse">
                        Discover More
                    </button>
                </h2>
                <div id="discoverCollapse" class="accordion-collapse collapse" data-bs-parent="#footerAccordion">
                    <div class="accordion-body">
                        <ul class="list-unstyled">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">KM Brands</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Affiliate Program</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#appCollapse">
                        Get The App
                    </button>
                </h2>
                <div id="appCollapse" class="accordion-collapse collapse" data-bs-parent="#footerAccordion">
                    <div class="accordion-body">
                        <ul class="list-unstyled">
                            <li><a href="#">Karen Millen App - find out more</a></li>
                            <img src="https://www.karenmillen.com/on/demandware.static/-/Library-Sites-karenmillen-global-content/default/dw04e8fa2f/images/footer-images/app-store.svg?fmt=webp"
                                alt="" style="display: block; margin-bottom: 10px;">
                            <img src="https://www.karenmillen.com/on/demandware.static/-/Library-Sites-karenmillen-global-content/default/dwa6f4edb2/images/footer-images/google-play.svg?fmt=webp"
                                alt="">
                        </ul>
                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#subscribeCollapse">
                        Subscribe
                    </button>
                </h2>
                <div id="subscribeCollapse" class="accordion-collapse collapse" data-bs-parent="#footerAccordion">
                    <div class="accordion-body">
                        <input type="email" class="form-control mb-2" placeholder="Enter Email">
                        <button class="btn btn-dark w-100">Sign Up</button>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column  align-items-center">
                <h6>Receive style tips, exclusive offers & more</h6>
                <div class="email-signup w-100">
                    <input type="email" placeholder="Enter Email" class="email-input">
                    <button class="signup-button">SIGN UP</button>
                </div>
                <div class="Fotter_ions justify-content-center gap-1"
                    style="display: flex; justify-content: end; gap: 1px; width: 80%; margin-top: 30px;">
                    <i class="fa-brands fa-instagram fa-2xl"></i>
                    <i class="fa-brands fa-facebook-f fa-2xl"></i>
                    <i class="fa-brands fa-x-twitter fa-2xl"></i>
                    <i class="fa-brands fa-pinterest fa-2xl"></i>
                    <i class="fa-brands fa-youtube fa-2xl"></i>
                    <i class="fa-brands fa-tiktok fa-2xl"></i>
                </div>
            </div>
        </div>
        <div class="credits-and-cards;" style="display: flex; padding: 0 30px 0px 30px; ">
            <p style="flex-grow: 1; color: rgb(87, 88, 89); ">Copyright © 2024 KarenMillen.com. Ltd. All rights
                reserved. See our <a href="#" style="text-decoration: underline;">terms of use</a> and <a href="#"
                    style="text-decoration: underline;">privacy notice</a></p>
            <img src="/images/Cards.svg" alt="" width="20%">

        </div>

    </footer>




    <div class="footer d-none">
        <div class="footer-container">
            <div class="footer-items">
                <div class="fotter_inner_container">
                    <h3>Need Help?</h3>
                    <ul class="foter_list_items">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Track My Order</a></li>
                        <li><a href="#">Start a Return</a></li>
                        <li><a href="#">Size Guide</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="fotter_inner_container">
                    <h3>Information</h3>
                    <ul class="foter_list_items">
                        <li><a href="#">PREMIER - Unlimited Free Next Day Delivery</a></li>
                        <li><a href="#">T&Cs</a></li>
                        <li><a href="#">How we use your information - updated July 2023</a></li>
                        <li><a href="#">About Cookies</a></li>
                        <li><a href="#">Karen Millen Alterations</a></li>
                        <li><a href="#">Karen Millen Loyalty</a></li>
                        <li><a href="#">Refer A Friend</a></li>
                        <li><a href="#">Student Discount</a></li>
                        <li><a href="#">Key Workers Discount</a></li>
                        <li><a href="#">Clearpay</a></li>
                        <li><a href="#">Klarna</a></li>
                        <li><a href="#">PayPal</a></li>
                    </ul>
                </div>
                <div class="fotter_inner_container">
                    <h3>Discover More</h3>
                    <ul class="foter_list_items">
                        <li><a href="#">About Karen Millen</a></li>
                        <li><a href="#">KM BRANDS</a></li>
                        <li><a href="#">Notebook</a></li>
                        <li><a href="#">Karen Millen Rental</a></li>
                        <li><a href="#">Thrift+</a></li>
                        <li><a href="#">Become an Affiliate</a></li>
                        <li><a href="#">Get Exclusive Offers & Updates</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Modern Slavery Statement</a></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="fotter_inner_container">
                    <h3>Get The App</h3>
                    <ul class="foter_list_items">
                        <li><a href="#">Karen Millen App - find out more</a></li>
                        <img src="https://www.karenmillen.com/on/demandware.static/-/Library-Sites-karenmillen-global-content/default/dw04e8fa2f/images/footer-images/app-store.svg?fmt=webp"
                            alt="" style="display: block; margin-bottom: 10px;">
                        <img src="https://www.karenmillen.com/on/demandware.static/-/Library-Sites-karenmillen-global-content/default/dwa6f4edb2/images/footer-images/google-play.svg?fmt=webp"
                            alt="">
                    </ul>
                </div>
                <div class="fotter_inner_container">
                    <h3>Receive style tips, exclusive offers & more</h3>
                    <div class="email-signup">
                        <input type="email" placeholder="Enter Email" class="email-input">
                        <button class="signup-button">SIGN UP</button>
                    </div>
                    <div class="Fotter_ions"
                        style="display: flex; justify-content: end; gap: 1px; width: 80%; margin-top: 30px;">
                        <i class="fa-brands fa-instagram fa-2xl"></i>
                        <i class="fa-brands fa-facebook-f fa-2xl"></i>
                        <i class="fa-brands fa-x-twitter fa-2xl"></i>
                        <i class="fa-brands fa-pinterest fa-2xl"></i>
                        <i class="fa-brands fa-youtube fa-2xl"></i>
                        <i class="fa-brands fa-tiktok fa-2xl"></i>
                    </div>
                </div>
            </div>
            
        </div>
    </div>