<section class="ExploreMarketPlace p-0" style="margin-top: 20px; width: 100vw;">
    <img src="/images/ExploreMarketPlce.png" alt="" class="ExploreMarketPlace_img">

    <a href="#" class="Shop_now_bt"><u>SHOP NOW</u></a>
</section>